body{
  font-size: 32px;
  font-family: futura, arial, sans-serif, helvetica;
}

/* Beginning of classes and IDs */

#main-header {
  width: 100%;
  height: 100px;
  background-color: black;
}

.hidden{
  display: none;
}

h2 {
  background-color: black;
  color: white;
}

.main-headline{
  text-align: center;
}

#vector-icons h3 {
margin: 20px;
text-align: center;
color: black;
font-size: 16px;
}

#icons{
  width: 30%;

}

#icons:hover {
  width: 40%;
}


.button{
  background: black;
  color: #ffff;
  border: 0;
  border-radius: 3px;
  height: 10%;
  width: 20%;
}

.button:hover{
  cursor: pointer;
  background: grey;
}

.textboxBack{
  display: none;
  position: fixed;
  z-index:1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.textboxContent{
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  font-size: 14px;
  height: 60%;
}

.close{
  color: grey;
  float: right;
  font-size: 30px;
}

.close:hover, .close:focus{
  color: black;
}

.close{
  cursor: pointer;
}

#svg-container {
  text-align: center;
}

#main-footer {
  width: 100%;
  height: 160px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  vertical-align: bottom;
}


/*inline SVG css styles*
